.btn {
  outline: none;
  background: transparent;
  padding: 15px 30px;
  color: #fff;
  border: solid thin #fff;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}
