.carousel {
  overflow: hidden;
  position: relative;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.indicators {
  display: flex;
  justify-content: center;
  position: absolute;
}

.directionIcon {
  width: 30px;
  color: #fff;
}

.direction a {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  filter: invert(1);
  user-select: none;
}

.direction a:nth-child(2) {
  right: 30px;
  left: unset;
}
